# Lesson

### Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import env

In [19]:
def parse_log_entry(entry):
    parts = entry.split()
    output = {}
    output['ip'] = parts[0]
    output['timestamp'] = parts[3][1:].replace(':', ' ', 1)
    output['request_method'] = parts[5][1:]
    output['request_path'] = parts[6]
    output['http_version'] = parts[7][:-1]
    output['status_code'] = parts[8]
    output['size'] = int(parts[9])
    output['user_agent'] = ' '.join(parts[11:]).replace('"', '')
    return pd.Series(output)

url = f'mysql+pymysql://{env.user}:{env.password}@{env.host}/logs'   
df = pd.read_sql('SELECT * FROM api_access', url)
# df = pd.concat([df.entry, df.entry.apply(parse_log_entry)], axis=1)
df = df.entry.apply(parse_log_entry)

,ip,timestamp,request_method,request_path,http_version,status_code,size,user_agent
0,97.105.19.58,16/Apr/2019 19:34:42,GET,/api/v1/sales?page=81,HTTP/1.1,200,512495,python-requests/2.21.0
1,97.105.19.58,16/Apr/2019 19:34:42,GET,/api/v1/items,HTTP/1.1,200,3561,python-requests/2.21.0
2,97.105.19.58,16/Apr/2019 19:34:44,GET,/api/v1/sales?page=82,HTTP/1.1,200,510103,python-requests/2.21.0
3,97.105.19.58,16/Apr/2019 19:34:46,GET,/api/v1/sales?page=83,HTTP/1.1,200,510003,python-requests/2.21.0
4,97.105.19.58,16/Apr/2019 19:34:48,GET,/api/v1/sales?page=84,HTTP/1.1,200,511963,python-requests/2.21.0

In [20]:
df

,ip,timestamp,request_method,request_path,http_version,status_code,size,user_agent
0,97.105.19.58,16/Apr/2019 19:34:42,GET,/api/v1/sales?page=81,HTTP/1.1,200,512495,python-requests/2.21.0
1,97.105.19.58,16/Apr/2019 19:34:42,GET,/api/v1/items,HTTP/1.1,200,3561,python-requests/2.21.0
2,97.105.19.58,16/Apr/2019 19:34:44,GET,/api/v1/sales?page=82,HTTP/1.1,200,510103,python-requests/2.21.0
3,97.105.19.58,16/Apr/2019 19:34:46,GET,/api/v1/sales?page=83,HTTP/1.1,200,510003,python-requests/2.21.0
4,97.105.19.58,16/Apr/2019 19:34:48,GET,/api/v1/sales?page=84,HTTP/1.1,200,511963,python-requests/2.21.0
...,...,...,...,...,...,...,...,...
13969,97.105.19.58,17/Apr/2019 12:55:12,GET,/api/v1/sales?page=62,HTTP/1.1,200,511544,python-requests/2.21.0
13970,97.105.19.58,17/Apr/2019 12:55:12,GET,/api/v1/sales?page=65,HTTP/1.1,200,511201,python-requests/2.21.0
13971,97.105.19.58,17/Apr/2019 12:55:13,GET,/api/v1/sales?page=73,HTTP/1.1,200,511781,python-requests/2.21.0
13972,97.105.19.58,17/Apr/2019 12:55:13,GET,/api/v1/sales?page=69,HTTP/1.1,200,510136,python-requests/2.21.0
13973,97.105.19.58,17/Apr/2019 12:55:14,GET,/api/v1/sales?page=71,HTTP/1.1,200,510166,python-requests/2.21.0

In [21]:
new = pd.DataFrame([
    ["95.31.18.119", "21/Apr/2019 10:02:41", "GET", "/api/v1/items/", "HTTP/1.1", '200', 1153005, "python-requests/2.21.0"],
    ["95.31.16.121", "17/Apr/2019 19:36:41", "GET", "/api/v1/sales?page=79/", "HTTP/1.1", '301', 1005, "python-requests/2.21.0"],
    ["97.105.15.120", "18/Apr/2019 19:42:41", "GET", "/api/v1/sales?page=79/", "HTTP/1.1", '301', 2560, "python-requests/2.21.0"],
    ["97.105.19.58", "19/Apr/2019 19:42:41", "GET", "/api/v1/sales?page=79/", "HTTP/1.1", '200', 2056327, "python-requests/2.21.0"],
], columns=df.columns)

df = pd.concat([df,new])

In [22]:
df['size_mb'] = df['size'] / 1024 / 1024
df.timestamp = pd.to_datetime(df.timestamp)
df = df.set_index('timestamp')

In [23]:
def value_counts_and_frequencies(s: pd.Series, dropna=True) -> pd.DataFrame:
    return pd.merge(
        s.value_counts(dropna=False).rename('count'),
        s.value_counts(dropna=False, normalize=True).rename('proba'),
        left_index=True,
        right_index=True,
    )

In [24]:
ip_df = value_counts_and_frequencies(df.ip)
ip_df.head()

                count     proba
ip
97.105.19.58    11999  0.858420
173.173.113.51   1059  0.075762
72.181.113.170    613  0.043855
72.181.105.81     246  0.017599
68.201.219.223     21  0.001502

In [25]:
status_given_ip = (
    df.groupby('ip')
    .status_code.value_counts(normalize=True)
    .rename('proba_status_given_ip')
    .reset_index()
)
status_given_ip.head()

               ip status_code  proba_status_given_ip
0  173.173.113.51         200                    1.0
1     24.26.242.9         200                    1.0
2    3.88.129.158         200                    1.0
3    3.92.201.136         200                    1.0
4   34.207.64.242         200                    1.0

In [26]:
status_given_ip[status_given_ip.status_code != '200']

                ip status_code  proba_status_given_ip
18  72.181.113.170         499               0.003263
19    95.31.16.121         301               1.000000
21   97.105.15.120         301               1.000000
23    97.105.19.58         499               0.001167

In [30]:
df[df.ip == '173.173.113.51'].head(1)

,ip,request_method,request_path,http_version,status_code,size,user_agent,size_mb
timestamp,,,,,,,,
2019-04-17 01:31:30,173.173.113.51,GET,/api/v1/sales,HTTP/1.1,200,493905,python-requests/2.21.0,0.471025

In [35]:
df[df.ip == '24.26.242.9'].head(1)

,ip,request_method,request_path,http_version,status_code,size,user_agent,size_mb
timestamp,,,,,,,,
2019-04-17 05:50:21,24.26.242.9,GET,/api/v1/items?page=1,HTTP/1.1,200,3561,python-requests/2.21.0,0.003396

In [32]:
df[df.ip == '95.31.16.121']

,ip,request_method,request_path,http_version,status_code,size,user_agent,size_mb
timestamp,,,,,,,,
2019-04-17 19:36:41,95.31.16.121,GET,/api/v1/sales?page=79/,HTTP/1.1,301,1005,python-requests/2.21.0,0.000958

In [33]:
df[df.ip == '97.105.15.120']

,ip,request_method,request_path,http_version,status_code,size,user_agent,size_mb
timestamp,,,,,,,,
2019-04-18 19:42:41,97.105.15.120,GET,/api/v1/sales?page=79/,HTTP/1.1,301,2560,python-requests/2.21.0,0.002441

In [36]:
status_given_ip[status_given_ip.proba_status_given_ip < 1]

                ip status_code  proba_status_given_ip
17  72.181.113.170         200               0.996737
18  72.181.113.170         499               0.003263
22    97.105.19.58         200               0.998833
23    97.105.19.58         499               0.001167

# Exercises

In [37]:
df

,ip,request_method,request_path,http_version,status_code,size,user_agent,size_mb
timestamp,,,,,,,,
2019-04-16 19:34:42,97.105.19.58,GET,/api/v1/sales?page=81,HTTP/1.1,200,512495,python-requests/2.21.0,0.488753
2019-04-16 19:34:42,97.105.19.58,GET,/api/v1/items,HTTP/1.1,200,3561,python-requests/2.21.0,0.003396
2019-04-16 19:34:44,97.105.19.58,GET,/api/v1/sales?page=82,HTTP/1.1,200,510103,python-requests/2.21.0,0.486472
2019-04-16 19:34:46,97.105.19.58,GET,/api/v1/sales?page=83,HTTP/1.1,200,510003,python-requests/2.21.0,0.486377
2019-04-16 19:34:48,97.105.19.58,GET,/api/v1/sales?page=84,HTTP/1.1,200,511963,python-requests/2.21.0,0.488246
...,...,...,...,...,...,...,...,...
2019-04-17 12:55:14,97.105.19.58,GET,/api/v1/sales?page=71,HTTP/1.1,200,510166,python-requests/2.21.0,0.486532
2019-04-21 10:02:41,95.31.18.119,GET,/api/v1/items/,HTTP/1.1,200,1153005,python-requests/2.21.0,1.099591
2019-04-17 19:36:41,95.31.16.121,GET,/api/v1/sales?page=79/,HTTP/1.1,301,1005,python-requests/2.21.0,0.000958
2019-04-18 19:42:41,97.105.15.120,GET,/api/v1/sales?page=79/,HTTP/1.1,301,2560,python-requests/2.21.0,0.002441
2019-04-19 19:42:41,97.105.19.58,GET,/api/v1/sales?page=79/,HTTP/1.1,200,2056327,python-requests/2.21.0,1.961066

In [40]:
df.columns[1:]

Index(['request_method', 'request_path', 'http_version', 'status_code', 'size',
       'user_agent', 'size_mb'],
      dtype='object')

In [53]:
# code concept: for loop that ierates through columns and created dataframes to start probability comparisons
count_and_proba = {}
for col in df.columns[1:]:
    count_and_proba[col] = {}
    count_and_proba[col]['count_and_proba'] = value_counts_and_frequencies(df[col])

In [54]:
count_and_proba

{'request_method': {'count_and_proba':                 count  proba
  request_method
  GET             13978    1.0},
 'request_path': {'count_and_proba':                                  count     proba
  request_path
  /api/v1/sales?page=2               709  0.050723
  /api/v1/items                      464  0.033195
  /api/v1/items?page=2               291  0.020818
  /api/v1/items?page=3               219  0.015667
  /api/v1/stores                     162  0.011590
  ...                                ...       ...
  /api/v1                              1  0.000072
  /api/v1//api/v1/items/next_page      1  0.000072
  /api/v1//api/v1/items                1  0.000072
  /api/v1/items?page=0                 1  0.000072
  /api/V1/HiZach!                      1  0.000072

  [220 rows x 2 columns]},
 'http_version': {'count_and_proba':               count  proba
  http_version
  HTTP/1.1      13978    1.0},
 'status_code': {'count_and_proba':              count     proba
  status_code
  200          13960  0.998712
  499             16  0.001145
  301              2  0.000143},
 'size': {'count_and_proba':          count     proba
  size
  494819     705  0.050436
  3561       548  0.039204
  3659       291  0.020818
  1328       229  0.016383
  1787       219  0.015667
  ...        ...       ...
  343913       1  0.000072
  360297       1  0.000072
  327529       1  0.000072
  278377       1  0.000072
  2056327      1  0.000072

  [191 rows x 2 columns]},
 'user_agent': {'count_and_proba':                                                     count     proba
  user_agent
  python-requests/2.21.0                              12005  0.858850
  python-requests/2.20.1                               1911  0.136715
  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_4)...     34  0.002432
  Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; r...      8  0.000572
  Slackbot-LinkExpanding 1.0 (+https://api.slack....      7  0.000501
  Slackbot 1.0 (+https://api.slack.com/robots)            6  0.000429
  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3)...      4  0.000286
  Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3)...      2  0.000143
  Python-urllib/3.7                                       1  0.000072},
 'size_mb': {'count_and_proba':           count     proba
  size_mb
  0.471896    705  0.050436
  0.003396    548  0.039204
  0.003489    291  0.020818
  0.001266    229  0.016383
  0.001704    219  0.015667
  ...         ...       ...
  0.327981      1  0.000072
  0.343606      1  0.000072
  0.312356      1  0.000072
  0.265481      1  0.000072
  1.961066      1  0.000072

  [191 rows x 2 columns]}}

In [24]:
ip_df = value_counts_and_frequencies(df.ip)
ip_df.head()

                count     proba
ip
97.105.19.58    11999  0.858420
173.173.113.51   1059  0.075762
72.181.113.170    613  0.043855
72.181.105.81     246  0.017599
68.201.219.223     21  0.001502